body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}


#weatherInfo {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#currentWeather, #forecast {
    width: 48%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}


#weatherIcon {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 auto;
}

#description {
    font-weight: bold;
    margin-top: 10px;
}


#temperature, #humidity, #windSpeed {
    font-weight: bold;
}

#forecastList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.forecastItem {
    width: 30%;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}


@media (max-width: 768px) {
    #currentWeather, #forecast {
        width: 100%;
        margin-top: 20px;
    }
}